interactions:
- request:
    body: code=test-code
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.slack.com/api/oauth.v2.access
  response:
    body:
      string: '{"ok":true,"app_id":"A01ADLDLR3J","authed_user":{"id":"U019LN451HT","scope":"users:read,users.profile:write","access_token":"xoxp-123","token_type":"user"},"team":{"id":"T019PQN3UAE","name":"cormac_dev_01"},"enterprise":null,"is_enterprise_install":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-server:
      - slack-www-hhvm-main-iad-cdg0
      x-slack-backend:
      - r
      x-slack-req-id:
      - f813e9e04eb6f69a02c076b130c0a189
      x-slack-shared-secret-outcome:
      - shared-secret
      x-via:
      - envoy-www-iad-6thc, haproxy-edge-lhr-p3ep
    status:
      code: 200
      message: OK
version: 1
